/* This file is for any styles that applies to all pages of the website, in order to keep consistency. 
For example: side menu for page navigation, background colours, fonts and more. */

/* General styles: */
head {
    text-align: center;
}
body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding-top: 0px;
}
.page-content {
    height: 100%;
    margin-left: 200px; /* Adjust this margin to leave space for the side menu */
    padding: 10px;
}

/* Side menu styles: */
.side-menu {
    height: 100%;
    width: 200px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    padding-top: 15px;
}
.blank-space {
    height: 42.5%; /* This WILL need to be adjusted as you add more to the menu. */
    width: 200px;
    display: block;
    visibility: hidden;
    background-color: black;
}
#QuickMenu {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
    color: lightskyblue;
}
#HRmenu {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1px;
    color: lightgrey;
    background-color: lightgrey;
}
.menu-section {
    margin-bottom: 5px;
    background-color: black;
}
.menu-item {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.1s;
}
.menu-item:hover {
    background-color: grey;
    border-radius: 10%;
}

/* Interactive Map styles: 
gmp-map {
    height: 80%;
    width: 80%;
    margin-top: 50px;
    margin-left: 230px;
    text-align: center;
} */
#InteractiveMap {
    height: 500px;
    width: 500px;
    margin-top: 50px;
    margin-left: 230px;
}