/* This file is for any styles that applies to all pages of the website, in order to keep consistency. 
For example: side menu for page navigation, background colours, fonts and more.
Collate similar parts (headers, side menus, forms etc). Condense/simplify file when nearer completion, take header 2 for example. */

/* TfL UI design guide colours: 
Beck blue (dark blue): #0019A8 - Corporate Blue or TfL Blue. It is used to provide reassurance, highlight good service and for primary buttons.
Johnston black (black): #03071C - This blue-black has been chosen to reduce eye strain while retaining the appearance of black. Johnston Black is primarily used for type.
For this website however, black (#000000) would be sufficient, as it is very close.
White: #FFFFFF - Use plenty of white. It’s our default canvas. */

/* General styles: */
head {
    text-align: center;
}
body {
    background-color: lightblue;
    /* background-color: white; */
    /* background-color: #818589; Saved for dark mode. */
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding-top: 0px;
}
.page-content {
    height: 100%;
    margin-top: 90px; /* Leaving space due to the ribbon menu. */
    margin-left: 200px; /* Adjust this margin to leave space for the side menu. */
    padding: 10px;
}

/* Header styles: */
h1 {
    color: navy;
    margin-top: 3px;
    margin-bottom: 5px;
    /* margin-left: 20px; */
    text-align: center;
}
h2 {color: red; margin-left: 20px;}

/* Side menu styles: */
.side-menu {
    top: 0;
    left: 0;    
    height: 100%;
    width: 200px;
    display: block;
    position: fixed;
    background-color: black;
    padding-top: 15px;
    margin-top: 80px;
}
#QuickMenu {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
    color: lightskyblue;
}
#HRmenu {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1px;
    color: lightgrey;
    background-color: lightgrey;
}
.menu-section {
    margin-bottom: 5px;
    background-color: black;
}
.menu-item {
    /* padding: 10px; */
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.1s;
}
.menu-item:hover {
    background-color: grey;
    border-radius: 10%;
}
#PageButton {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    transition: background-color 0.1s;
    background-color: black;
}

/* Ribbon styles: */
.ribbon-menu {
    top: 0;
    left: 0;    
    height: 80px;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.TfL-BlueLogo {
    top: 0;
    left: 0;
    height: 80px;
    width: 200px !important; /* !important is used to override the default width of the image. */
}
#Title {
    height: 80px;
    width: 550px;
    margin-top: 3px; 
    margin-bottom: 3px;
    font-size: 30px;
    color: white;
    display: inline-block;
    white-space: nowrap; /* This is so text is along the ribbon. */
    translate: 15px -30px; /* This is so the page title is in the middle of the ribbon. */
}

/* Interactive Map styles: */
.InteractiveMap {
    height: 700px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    border: 2px solid black ; /* Matches with the table border. */
}