/* This file is for any styles that applies to all pages of the website, in order to keep consistency. 
For example: side menu for page navigation, background colours, fonts and more. */

/* TfL UI design guide colours: 
Beck blue (dark blue): #0019A8 - Corporate Blue or TfL Blue. It is used to provide reassurance, highlight good service and for primary buttons.
Johnston black (black): #03071C - This blue-black has been chosen to reduce eye strain while retaining the appearance of black. Johnston Black is primarily used for type.
For this website however, black (#000000) would be sufficient, as it is very close.
White: #FFFFFF - Use plenty of white. It’s our default canvas.
*/

/* General styles: */
head {
    text-align: center;
}
body {
    background-color: lightblue;
    /* background-color: white; */
    /* background-color: #818589; Saved for dark mode. */
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding-top: 0px;
}
.page-content {
    height: 100%;
    margin-top: 90px; /* Leaving space due to the ribbon menu. */
    margin-left: 200px; /* Adjust this margin to leave space for the side menu. */
    padding: 10px;
}

/* Header styles: */


/* Side menu styles: */
.side-menu {
    height: 100%;
    width: 200px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    padding-top: 15px;
    margin-top: 80px;
}
.blank-space {
    height: 42.5%; /* This WILL need to be adjusted as you add more to the menu. */
    width: 200px;
    display: block;
    visibility: hidden;
    background-color: black;
}
#QuickMenu {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
    color: lightskyblue;
}
#HRmenu {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1px;
    color: lightgrey;
    background-color: lightgrey;
}
.menu-section {
    margin-bottom: 5px;
    background-color: black;
}
.menu-item {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.1s;
}
.menu-item:hover {
    background-color: grey;
    border-radius: 10%;
}

/* Ribbon styles: */
.ribbon-menu {
    top: 0;
    left: 0;    
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.top-menu-section {
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: black;
}
.top-menu-item {
    width: 200px;
    display: inline-block;
    background-color: black;
}
.TfL-BlueLogo {
    top: 0;
    left: 0;
    height: 80px;
    width: 200px;
}
#Title {
    height: 80px;
    width: 80px;
    margin-top: 5px;
    margin-left: 10px;
    size: 28;
    color: white;
    display: block;
}

/* Interactive Map styles: 
gmp-map {
    height: 80%;
    width: 80%;
    margin-top: 50px;
    margin-left: 230px;
    text-align: center;
} */
#InteractiveMap {
    height: 500px;
    width: 500px;
    margin-top: 50px;
    margin-left: 230px;
}