/* Stylesheet for the Home page. Collate similar parts (headers, side menus, forms etc). Condense/simplify file when nearer completion, take header 2 for example. */

/* General styles: */

/* Header styles: */
h1 {
    color: navy;
    margin-top: 3px;
    margin-bottom: 5px;
    /* margin-left: 20px; */
    text-align: center;
}
h2 {color: red; margin-left: 20px;}

/* API styles section: */
disruptions-container {
    align-content: center; 
    text-wrap: normal;
    /* color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
}
hr {
    color: black;
    background-color: black;
    height: 1px;
}
