/* Stylesheet for the Journey Planner page. Collate similar parts (headers, side menus, forms etc). Condense/simplify file when nearer completion, take header 2 for example. */

/* General styles: */
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Header styles: */

/* Paragraph styles: */
#infoParagraph {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 24px;
    color: black;
}

/* Journey Planning Section styles:
Includes: Table, Form, Response and Live Status. */
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #f2f2f2;
}
#TableHeaderButton {
    background-color: #f2f2f2; /* Matches with the table header. */
}
th, td {
    border: 2px solid black; /* Matches with the interactive map border. */
    text-align: left;
    padding: 8px;
}
.JourneyPlanningSection {
    width: 100%;
}
.JourneyPlanningFields {
    margin: 20px;
}
.FormFieldLabel {
    font-weight: bold;
}
.TextField, .DateField, .TimeField, .JourneyPreference {
    margin-bottom: 10px;
}

/* Form styles: Setting up style section for the form.
.JourneyPlanningSection
.JourneyPlanningFields
#JourneyPlanningForm
#JourneyContainer
*/